<h1>User Profile</h1>
<hr>
<div class="col-md-4">
  <form *ngIf="authenticated" [formGroup] = "profileForm"  (ngSubmit)="saveProfile(profileForm)" autocomplete="off">
    <div class="form-group" >
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
    </div>

    <div class="form-group" >
        <label for="lastName">Last Name:</label>
        <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
      </div>


    <button type="button" class="btn btn-primary" (click)="saveProfile(profileForm)">Save</button>
    <button type="button" class="btn btn-default" (click)= "cancel()">Cancel</button>
  </form>
</div>