.container {
    padding-left: 20px;
    padding-right: 20px;
}
.event-image {
    height: 100px;
}

a { 
    cursor:pointer;
}

.buttonRow {
    margin-bottom: 7px;
}

.btn-default {
    margin-right: 5px;
    background-color: rgb(56, 132, 194);
    color: black;
    font: bold;
}